.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  display: block;
}

.inputGroup input {
  padding: 7px;
  width: 100%;
  margin-top: 10px;
}

.buttonBack {
  display: flex;
  padding: 10px;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.divGeral {
  padding: 10px 50px;
  margin: 100px 40px 0px 240px;
  border: 1px solid grey;
}

.periodoProfessor input,
.diasDisponivel input {
  margin-left: 25px;
  margin-bottom: 15px;
}

.periodoProfessor span,
.diasDisponivel span,
.coluna label {
  margin-left: 15px;
  margin-bottom: 15px;
}

.materias {
  display: flex;
  justify-content: space-between;
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.botoes button {
  padding: 8px;
}
